.ui-button {
  &.signin {
    background-color: map-get($colors, dark-green);
    border: 0;
    height: 54px;
    width: 100%;
    border-radius: 40px;
  }

  &.signup {
    background-color: map-get($colors, trip-green);
    border: 0;
    height: 54px;
    width: 100%;
    border-radius: 40px;
  }
}
