.ui-button {
  &.primary {
    background-color: map-get($colors, primary);

    &:enabled {
      &:hover {
        background-color: map-get($colors, primary);
      }
    }
  }

  &.secondary {
    background-color: map-get($colors, secondary);

    &:enabled {
      &:hover {
        background-color: map-get($colors, secondary);
      }
    }
  }

  &.signin,
  &.signup,
  &.create-trip {
    border: 0;
    border-radius: 40px;
    width: 100%;
    height: 54px;
  }

  &.create-trip-calendar-done {
    border: 0;
    border-radius: 40px;
    width: 100%;
    height: 36px;
  }

  .multiselect__selected-item_button & {
    display: flex;
    align-items: center;
    margin: 0;
    border: 0;
    background-color: rgba(map-get($colors, trip-black), 0) !important; // sass-lint:disable-line no-important
    width: 15px;
    height: 100%;
    color: map-get($colors, trip-white) !important; // sass-lint:disable-line no-important
    font-size: 10px;

    .pi {
      position: relative;
      top: 1px;
    }

    .ui-button-text {
      display: none;
    }
  }
}
