@import '_variables';

:host {
  display: block;
  background-image: url('assets/images/auth-bg.png');
  background-size: cover;
  height: 100vh;
  overflow-y: scroll;
}

.signin {
  margin: auto;
  padding-top: 120px;
  width: 70%;

  &__logo {
    display: block;
    margin: 0 auto 50px;
    width: 50%;
  }

  &__form {
    &_submit {
      margin-top: 28px;
      width: 100%;
      height: fit-content;
    }
  }

  &__not-user {
    display: flex;
    justify-content: space-evenly;
    margin-top: 16px;
    text-align: center;
    color: map-get($colors, trip-white);
    font-size: 12px;

    &_signup {
      text-decoration: none;
      color: map-get($colors, trip-white);
      font-weight: bold;
    }
  }
}
