@import 'variables';

:host {
  display: block;
  background-image: url('assets/images/auth-bg.png');
  background-size: cover;
  height: 100vh;
  overflow-y: scroll;
}

.signin {
  margin: auto;
  padding-top: 120px;
  width: 70%;

  &__logo {
    width: 50%;
    margin: 0 auto 50px;
    display: block;
  }

  &__form {
    &_submit {
      margin-top: 28px;
      width: 100%;
      height: fit-content;
    }
  }

  &__not-user {
    font-size: 12px;
    color: map-get($colors, trip-white);
    margin-top: 16px;
    display: flex;
    text-align: center;
    justify-content: space-evenly;

    &_signup {
      color: map-get($colors, trip-white);
      font-weight: bold;
      text-decoration: none;
    }
  }
}
