// sass-lint:disable no-color-hex
$colors: (
  trip-black: #000000,
  trip-white: #FFFFFF,
  primary: #B3D19D,
  secondary: #9FC7B1,
  popup: #6F9580,
  error: #D9000D,
);

$fonts: (
  main: 'Axiforma',
);
