@import '_core';

:host {
  .form-error {
    position: absolute;
    line-height: 1.5em;
    color: map-get($colors-palette, 'red-error');
    font-size: $field-font-small;

    .ltr & {
      left: 5px;
    }

    .rtl & {
      right: 5px;
    }
  }

  &.inline .form-error {
    left: $field-padding-inline;

    [dir='rtl'] :host & { // sass-lint:disable-line no-attribute-selectors
      right: $field-padding-inline;
      left: unset;
    }
  }
}
