<div class="trips-list">
  <div class="trips-list__header">
    <label class="trips-list__label">
      {{ 'TRIP.SUGGESTED_TRIPS' | translate }}
    </label>

    <p-button
      class="trips-list__create-trip"
      styleClass="primary create-new-trip"
      [label]="'TRIP.CREATE_TRIP' | translate"
      (onClick)="createTrip()"
    ></p-button>
  </div>

  <div
    class="trips-list__trip"
    *ngFor="let trip of (tripList$ | async)"
  >
    <img
      class="trips-list__trip_image"
      [src]="trip.image"
      [alt]="'TRIP.LOGO' | translate"
    />

    <div class="trips-list__trip_data">
      <label class="trips-list__trip_name">
        {{ trip.name }}
      </label>

      <label class="trips-list__trip_organizer">
        {{ trip.user.firstName }} {{ trip.user.lastName }}
      </label>

      <div class="trips-list__trip_tags">
        <span
          class="trips-list__trip_tag"
          *ngFor="let tag of trip.tags"
        >
          #{{ tag }}
        </span>
      </div>

      <a
        class="trips-list__trip_link"
        [routerLink]="['..', trip.id]"
      >
        {{ 'TRIP.MORE_INFO' | translate }}
      </a>
    </div>
  </div>
</div>
